<% if @todo.errors.any? %>
  <h2>The following errors have occurred:</h2>
  <ul>
    <% @todo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @todo do |form| %>
  <p>
    <%= form.label :name %> <br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to Todos listing', todos_path %>